
<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="https://technoboy101.github.io/sign-in-to-nbftheofficialsite/static/favicon.ico" rel="icon">

        <link href="https://technoboy101.github.io/sign-in-to-nbftheofficialsite/static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>NBF The Official Site: 
    Log In
</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/"><span class="blue">L</span><span class="red">o</span><span class="yellow">g</span><span class="green">i</span><span class="red">n To NBF The Official Site</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="https://technoboy101.github.io/sign-in-to-nbftheofficialsite/templates/register.html">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://technoboy101.github.io/sign-in-to-nbftheofficialsite/templates/login">Log In</a></li>
                    </ul>
                
            </div>
        </nav>

        

        <main class="container p-5">
            
    <form action="sign-in-to-nbftheofficialsite/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus autocomplete = "off" class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" autocomplete = "off" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>

        </main>

    </body>

</html>
